body {
  margin: 0;
  padding: 0;
  background-color: rgb(9, 124, 224);
}

.container {
  background-color: white;
  border-radius: 5%;
  width: 85%;
  height: 10%;
  margin: 30% auto;
  padding: 3%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.item {
  text-align: center;
  position: relative;
}

.right {
  float: right;
  padding-right: 10%;
}

.left {
  float: left;
  padding-left: 10%;
}

.item img {
  width: 50%;
  height: 20%;
}

a {
  text-decoration: none;
}

.login a {
  display: block;
  background-color: rgb(9, 124, 224);
  padding: 2%;
  width: 90%;
  margin: 1% auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  border-radius: 15px;
}

.kolom {
  align-items: center;
  display: flex;
  justify-content: center;
}

h4 {
  margin-top: -3%;
}

p {
  font-size: 80%;
}

.left a {
  color: grey;
}

.right a {
  color: grey;
}

.left a:hover {
  color: rgb(0, 106, 255);
}

.right a:hover {
  color: rgb(0, 106, 255);
}

input {
  width: 90%;
}
