* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(9, 124, 224);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  width: 60%;
  border-radius: 15px;
  padding: 2% 1%;
  height: 50%;
}

.navbar {
  text-align: center;
}

.navbar-nav a {
  color: grey;
  font-weight: 600;
}

.navbar-nav a:hover {
  color: rgb(9, 124, 224);
}

.navbar img {
  width: 30%;
  height: 20%;
}

.navbar-login a {
  display: block;
  background-color: rgb(9, 124, 224);
  width: 90%;
  padding: 0.5%;
  margin: 1% auto;
  color: white;
  border-radius: 15px;
  font-weight: 500;
}

.navbar-kolom {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* FLOAT */
.right {
  float: right;
  padding-right: 10%;
}

.left {
  float: left;
  padding-left: 10%;
}

.clear {
  clear: right;
}
/* FLOAT */

p {
  font-size: 80%;
}

input {
  width: 250px;
}
